<h1>My Todo Lists</h1>

<ol>

<% @lists.each do |list| %>
     
     <h2><li><%=list.description %></li></h2>
     
     <p><%=link_to "Edit", edit_list_path(list) %> | <%= link_to "Delete", list_path(list), :method => :delete %> | <%= link_to "Show tasks", list_path(list) %></p>

<% end %>

</ol>

<hr />

<%= link_to "Add new list", new_list_path %>