<h2><%= @list.description %></h2>
<h3>Incomplet Tasks</h3>
<ul>
<% @list.tasks.incomplete.each do |task| %>
      <li style = "list-style-type: none;"><input type = "checkbox" >
	  <%= task.description %> <p><%= link_to "Edit", edit_list_task_path(@list.id,task.id) %> | <%= link_to "Complete", complete_task_path(@list.id,task.id) %></p></li>  
<% end %>

</ul>

<h3>Completed Tasks</h3>

<ul id="completed">
<% @list.tasks.completed.each do |task| %>
	<li><%= task.description %></li>
<% end %>
</ul>

<hr />

<%= form_for [@list, @task] do |form| %>
     <p><%= form.text_field :description %> <%= form.submit %></p>
<% end %>

<hr />
<%= link_to "Back to all lists", lists_path %>

